<nav>

  <div class="home__header">
    <div class="home__header__left">

      <h2 >Apple Shop</h2>
    </div>

    <div class="home__header__right">
      <div>
        <img [src]="user?.avatar" alt="avatar" mat-card-avatar>
        <span class="name">{{user?.firstName || 'Default user'}}</span>
      </div>
    <div>
      <a (click)="setType('IPhone')">IPhone</a>
    </div>
    <div>
      <a (click)="setType('IPad')">Ipad</a>
    </div>
    <div>
      <a (click)="setType('MacBook')">MacBook</a>
    </div>
    <div>
      <a (click)="setType('AppleWatch')">AppleWatch</a>
    </div>
      <div>
      <a (click)="setType('AirPods')">Airpods</a>
      </div>
        <div>
      <a (click)="setType('Imac')">Imac</a>
        </div>
          <div>
      <a [routerLink]="['/cart']" (click)="setType('Cart')">Cart</a>
          </div>

     <div>
      <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>
      </mat-menu>
    </div>

</div>
</div>


  </nav>


<div class="container">
  <router-outlet></router-outlet>


</div>

