<div *ngIf="product$ | async as product; else loading">
  <div class="product">


    <div class="flex">
      <div class="item text-center">
        <h2>{{ product.title }}</h2>


      <div class="flex-center">
        <quill-view-html [content]="product.photo"></quill-view-html>
      </div>

      <div>
        <h2>Price: {{ product.price }}</h2>

        <button class="btn btn-dark" [routerLink]="['/cart']" (click)="addProduct(product)">Add to Cart</button>
        <button routerLink="/" class="btn btn-dark">Back</button>
      </div>
    </div>

      <div class="item">
        <h2>Information:</h2>

        <div>
          <quill-view-html [content]="product.info"></quill-view-html>
        </div>

      </div>
    </div>
  </div>
</div>


<div *ngIf="product$ | async as product;" class="home__body__contentMiddle__center" >

  <mat-card class="post-message">
    <mat-card-header class="post-message-header"
                     style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
      <img
        alt="{{ user?.firstName}}"
        mat-card-avatar
        [src]="user?.avatar">
      <form #form="ngForm" (ngSubmit)="postMessage(form, product)">
        <input class="on-your-mind" name="message" ngModel placeholder="What's on your mind?" type="text">
        <button style="display: none;" type="submit"></button>
      </form>

    </mat-card-header>
    <mat-card-content class="card-body">

    </mat-card-content>
  </mat-card>

  <!--Loop Through All Posts From Database and Display-->
  <mat-card *ngFor="let p of posts" class="posts">
    <mat-card-header class="posts__header">
      <img alt="{{ p?.title }}" mat-card-avatar [src]="p?.avatar">
      <div class="posts__header__right">
        <span> Product name:  {{ p?.product_id}}</span>
        <span>{{ p?.time?.seconds * 1000 | date:'medium' }}</span>
        <h3>{{ p?.title }}</h3>
      </div>
    </mat-card-header>
    <mat-card-content class="posts__body">
      <p>{{ p?.message }}</p>
    </mat-card-content>
  </mat-card>


</div>


<ng-template #loading>
  <p class="text-center">loading...</p>
</ng-template>
